<div>
	<div class="question">
		<p class="blue">คำถาม</p>
		<div class="panel"><%= faq.question %></div>
	</div>
	<div class="anwser">
		<p class="blue">คำตอบ</p>
		<div class="panel"><%= faq.answer %></div>
	</div>
</div>
<br>