<div>
	<div class="question">
		<b>คำถาม</b>
		<div class="panel"><%= faq.question %></div>
	</div>
	<div class="anwser">
		<b>คำตอบ</b>
		<div class="panel"><%= faq.answer %></div>
	</div>
</div>
<br>