<div class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="noo-product-grid-wrap commerce product-style">
          <div class="noo-sh-title">
            <h2>คำถามที่พบบ่อย</h2>
          </div>
          <%= render partial: "faq_list", collection: @faqs, as: "faq" %>
          <!-- <div class="digg_pagination"><%#= will_paginate @faqs, :container => false %></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
