<h5>คำถามที่พบบ่อย</h5>
<div>
	<div class="question">
		<p class="blue">คำถาม</p>
		<div class="panel">ทำไมต้องใช้ผลิตภัณฑ์สำเร็จรูป</div>
	</div>
	<div class="anwser">
		<p class="blue">คำตอบ</p>
		<div class="panel">คุณจะสามารถประหยัดค่าใช้จ่ายและระยะเวลาในการก่อสร้างได้ อีกทั้งมีความสะดวกในการเคลื่อนย้าย</div>
	</div>
</div>
<br>
<div>
	<div class="question">
		<p class="blue">คำถาม</p>
		<div class="panel">จะสามารถดูสินค้าตัวอย่างได้มั้ย</div>
	</div>
	<div class="anwser">
		<p class="blue">คำตอบ</p>
		<div class="panel">ทางบริษัทมีความยินดีเป็นอย่้างยิ่ง ในการที่ลูกค้าต้องการมาเยี่ยมชมและดูสินค้าตัวอย่างเพื่อประกอบการพิจารณา โดยลูกค้าสามารถนัดวันเวลากับฝ่ายบริการลูกค้าของเราเพื่อเข้าชมโกดังเก็บสินค้าของทางบริษัทด้ทุกวันทำการ</div>
	</div>
</div>

