<h5>คำถามที่พบบ่อย</h5>
<div>
	<div class="question">
		<p class="blue">คำถาม</p>
		<div class="panel">ตู้สำนักงานเคลื่อนที่ ขนาดใดบ้าง และมีกี่แบบ ?</div>
	</div>
	<div class="anwser">
		<p class="blue">คำตอบ</p>
		<div class="panel">ขนาดและรูปแบบของ ตู้สำนักงานเคลื่อนที่สำเร็จรูป จะมีขนาดมาตรฐานให้เลือก หรือลูกค้าสามารถกำหนดขนาดได้ตามความต้องการ โดยสามารถกำหนดรูปแบบหรือ อุปกรณ์ต่างๆได้ เพื่อนำมาใช้ตามความต้องการของลูกค้าตู้สำนักงานเคลื่อนที่สามารถเป็น บ้านคอนเทนเนอร์ ห้องพักพนักงาน ห้องเก็บของห้องสโตร์ โชว์รูม ไซต์ ออฟฟิศ หรืออื่นๆตามที่ลูกค้าต้องการได้</div>
	</div>
</div>
<br>
<div>
	<div class="question">
		<p class="blue">คำถาม</p>
		<div class="panel">ตู้สามารถทำเป็น บ้านพัก โชว์รูมสินค้า ห้องสโตร์ หรืออื่นๆตามแบบได้หรือไม่ ?</div>
	</div>
	<div class="anwser">
		<p class="blue">คำตอบ</p>
		<div class="panel">เราสามารถผลิตสินค้าตามความต้องการของลูกค้าได้ โดยลูกค้าสามารถกำหนดขนาดของห้อง เพิ่มการกั้นห้องภายใน หรือตบแต่งต่างๆได้เพื่อให้สอดคล้องต่อการใช้งาน ไม่ว่าจะเป็นบ้านพักอาศัยแบบต่างหรือ โชว์รูมสินค้าโดยลูกค้าสามารถแจ้งความต้องการ หรือส่งแบบร่าง มาเพื่อให้ทางเรา ทำการเสนอราคากลับไปก่อนได้</div>
	</div>
</div>
<br>
<div>
	<div class="question">
		<p class="blue">คำถาม</p>
		<div class="panel">ตู้สำนักงานเคลื่อนที่ ดีอย่างไร ?</div>
	</div>
	<div class="anwser">
		<p class="blue">คำตอบ</p>
		<div class="panel">เในการใช้งาน ตู้สำนักงานเคลื่อนที่ คุณจะสามารถประหยัดค่าใช้จ่าย และระยะเวลาในการก่อสร้างได้ เนื่องจากกระบวนการผลิตอย่างมีระบบเราจึงสามารถ กำหนดเวลา และค่าใช้จ่ายที่แน่นอนให้คุณได้ อีกทั้งมีความสะดวกในการเคลื่อนย้าย</div>
	</div>
</div>
<br>
<div>
	<div class="question">
		<p class="blue">คำถาม</p>
		<div class="panel">สามารถดู ตัวอย่างตู้สำนักงานเคลื่อนที่ได้ไหม ?</div>
	</div>
	<div class="anwser">
		<p class="blue">คำตอบ</p>
		<div class="panel">เรายินดี ในการที่ลูกค้าต้องการมาชมและดูสินค้าตัวอย่างเพื่อประกอบการพิจารณา โดยลูกค้าสามารถนัดเวลากับ ฝ่ายบริการลูกค้า ของเราเพื่อเข้าชมสินค้าของทางเราได้ทุกวันทำการ</div>
	</div>
</div>
<br>
<div>
	<div class="question">
		<p class="blue">คำถาม</p>
		<div class="panel">ผนังเหล็กบุฉนวน แข็งแรงมากน้อยเพียงใด ?</div>
	</div>
	<div class="anwser">
		<p class="blue">คำตอบ</p>
		<div class="panel">ผนังเหล็กบุฉนวนที่เราใช้คือแผ่นเหล็กเคลือบ Zincalume และเคลือบซิลิคอนโพลีเอสเตอร์ ทั้งสองด้าน (คัลเลอร์บอนด์)ไม่ก่อเกิดสารอันตรายต่อมนุษย์และสิ่งแวดล้อม มีความแข็งแรงทนทาน และมีฉนวนกันความร้อน ชนิดพิเศษไม่ลามไฟ ปราศจากสารซีเอฟซี ไม่ทำลายสิ่งแวดล้อม ช่วยในการป้องกันความร้อน และเสียงรบกวนจากภายนอกเป็นอย่างดี มีความทนทานหลายสิบปี</div>
	</div>
</div>
<br>
<div>
	<div class="question">
		<p class="blue">คำถาม</p>
		<div class="panel">การเคลื่อนย้าย สามารถเคลื่อนย้ายแบบไหน ?</div>
	</div>
	<div class="anwser">
		<p class="blue">คำตอบ</p>
		<div class="panel">การเคลื่อนย้ายสามารถใช้รถโฟล์คลิฟท์ยกเคลื่อนย้ายได้ด้วยน้ำหนักเพียง ไม่ถึง 2ตัน หรือสามารถใช้รถรถเครนเคลื่อนย้ายได้อย่างสะดวกและรวดเร็ว</div>
	</div>
</div>
<br>