<%= form_for @blog, :html => { class: "form" } do |f| %>
  <div class='row form-group'>
    <div class='col-sm-6'>
      <%= f.text_field :title, required: true, class: "form-control", placeholder: "ระบุชื่อบล็อกที่นี่" %>
    </div>
  </div>
  <div class='row form-group'>
    <div class='col-xs-12'>
      <%= f.cktext_area :body, :class => 'blog-body form-control', :ckeditor => {:height => "500px"} %>
    </div>
  </div>
  <div class='row form-group'>
    <div class='col-xs-12'>
      <%= f.submit "บันทึก", class: "btn btn-default", class: "form-control submit btn-primary" %>
    </div>
  </div>
<% end %>