<div id="edit_category">
  <h3>Edit category</h3>
    <%= form_for @category, url: manage_category_path(@category.id), method: 'put' do |f| %>
    <table>
      <tr>
        <td class="field">Category Name : </td>
        <td class="value"><%= f.text_field "name", required: true, class: "field" %></td>
      </tr>
    </table>
    <%= f.submit "Update", class: "submit" %>
    <%= f.button "Clear form", class: "clear", type: "reset" %>
  <% end %>
</div>
