<div id="edit_category">
  <h3>แก้ไขหมวดหมู่สินค้า</h3>
    <%= form_for @category, url: manage_category_path(@category.id), method: 'put' do |f| %>
    <table>
      <tr>
        <td class="field">ชื่อหมวดหมู่ : </td>
        <td class="value"><%= f.text_field "name", required: true, class: "field" %></td>
      </tr>
    </table>
    <%= f.submit "บันทึก", class: "submit" %>
  <% end %>
</div>
