<div class="pt-5 pb-11">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="noo-product-grid-wrap commerce product-style">
          <div class="noo-sh-title">
            <h2>แก้ไขหมวดหมู่สินค้า</h2>
          </div>

          <%= form_for @category, url: manage_category_path(@category.id), method: 'put' do |f| %>
            <div class='row form-group'>
              <div class='col-sm-4 col-sm-offset-4'>
                ชื่อหมวดหมู่
              </div>
              <div class='col-sm-4 col-sm-offset-4'>
                <%= f.text_field "name", required: true, class: "form-control" %>
              </div>
            </div>
            <div class='row form-group'>
              <div class='col-sm-4 col-sm-offset-4'>
                <%= f.submit "บันทึก", class: "btn btn-default" %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>



