<h5>การจัดการหมวดหมู่สินค้า</h5>

<%= link_to "เพิ่มหมวดหมู่", new_manage_category_path %>

<table id="categories_list">
  <thead>
    <th>ชื่อ</th>
    <th colspan='2'>จัดการ</th>
  </thead>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to "แก้ไข", edit_manage_category_path(category.id) %></td>
      <td><%= link_to "ลบ", manage_category_path(category.id), method: 'delete', confirm: "Are you sure?" %></td>
    </tr>
  <% end %>
</table>
