<div><%= image_tag("logo.jpg") %></div>
<div>Welcome to KK CONTAINER.<div>
<div>
  You have received this email either because you have an account created for you or you have requested to reset your password.
<div>
<div>
  Please click
  <%= link_to "here", edit_password_reset_url(id: @user.perishable_token) %>
  or visit <%= edit_password_reset_url(id: @user.perishable_token) %>
  to reset your password.
<div>
<br>
<div>Regards,</div>
<div><b>KK CONTAINER Public Relations</b></div>
