<div class="noo-footer-shop-now">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="col-xs-12"><h4>ขาย-เช่า คอนเทนเนอร์ บ้านน็อคดาวน์ สำนักงาน สำเร็จรูป</h4></div>
      <div class="col-xs-12"><h3>KK CONTAINER (เคเค คอนเทนเนอร์)</h3></div>
    </div>
  </div>
</div>

<footer class="wrap-footer footer-2 colophon pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 item-footer-four">
        <div class="widget widget_about"> 
          <div class="noo_about_widget">
            <div class="fb-page" data-href="https://www.facebook.com/KKcontainer/?fref=nf" data-tabs="timeline" data-width="250" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/KKcontainer/?fref=nf"><a href="https://www.facebook.com/KKcontainer/?fref=nf">คอนเทนเนอร์ บ้านน๊อคดาวน์ รีสอร์ทสำเร็จรูป</a></blockquote></div></div>
          </div>
        </div>
        <!-- <div class="widget widget_noo_social"> 
          <div class="noo_social">
            <div class="social-all">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-google-plus"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-skype"></a>
            </div>
          </div>
        </div> -->
        <div class="widget widget_text">
          <div class="textwidget">
            <div class="copyright">
              <p id="copy-right">&copy; <%= "#{Time.now.localtime.year}" %> by KK CONTAINER</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 item-footer-four">
        <div class="widget widget_text">
          <h4 class="widget-title">ข้อมูลติดต่อ</h4> 
          <div class="textwidget">
            <h5>ที่อยู่</h5>
            <p>KK CONTAINER (เคเค คอนเทนเนอร์) ตั้งอยู่ที่ 274 หมู่ 2 ถ.มะลิวัลย์ ต.บ้านทุ่ม อ.เมือง จ.ขอนแก่น 40000</p>
            <%= link_to "เปิดด้วย Google map", "https://www.google.co.th/maps/place/16%C2%B027'00.8%22N+102%C2%B044'17.9%22E/@16.4502411,102.7361263,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0?hl=th", target: "_blank" %>
            <h5>เบอร์โทรติดต่อ</h5>
            <p>
              <p>094-4686896</p>
              <p>085-8687906</p>
            </p>
            <h5>Line</h5>
            <p>
              <p>ID 1: kkcontainer</p>
              <p>ID 2: sintukood</p>
            </p>
            <h5>อีเมล์</h5>
            <p>
              <a href="mailto:kkcontainer@hotmail.com">
                kkcontainer@hotmail.com
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 item-footer-four">
        <%= image_tag "map2.jpg", class: "map-img" %>
      </div>
    </div>
  </div>
</footer>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>