<div id="left_layout" class="inline">
  <h5 class="h5-color">หมวดหมู่สินค้า</h5>

    <% @categories.each do |c| %>
    <p class="products-link panel">
      <%= link_to(c.name.titleize, show_porducts_product_path(c.id), cat_id: "#{c.id}" ) %><br>
     </p>
    <% end %>
    <div id="fb-root"></div>

    <hr class="brown">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FKKcontainer&amp;width=250&amp;height=590&amp;show_faces=true&amp;colorscheme=light&amp;stream=true&amp;border_color&amp;header=true&amp;appId=127681030689706" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:590px;" allowTransparency="true"></iframe>

    <hr class="brown">
  	<ul id="analog-clock" class="analog">
	  <li class="hour"></li>
	  <li class="min"></li>
	  <li class="sec"></li>
	  <li class="meridiem"></li>
	</ul>
</div>
