<div id="left_layout" class="inline">
  <h5>หมวดหมู่สินค้า</h5>
  
    <% @categories.each do |c| %>
    <p class="products-link panel">
      <%= link_to(c.name.titleize, show_porducts_product_path(c.id), cat_id: "#{c.id}" ) %><br>
     </p>
    <% end %>
  	<br>
  	<ul id="analog-clock" class="analog">
	  <li class="hour"></li>
	  <li class="min"></li>
	  <li class="sec"></li>
	  <li class="meridiem"></li>
	</ul>
</div>
