<div id="right_layout" class="inline">
  <h5>ติดต่อเรา</h5>
  <p class="products-link">
    สามารถสอบถาม เช็คราคา ตู้คอนเทนเนอร์ ราคา ตู้สำนักงาน และราคาตู้อื่น ๆ จากฝ่ายขายของเราได้ที่ 
	085-8687906 และ 094-4686890
  </p>
	<br>
  <ul id="analog-clock" class="analog">
	  <li class="hour"></li>
	  <li class="min"></li>
	  <li class="sec"></li>
	  <li class="meridiem"></li>
	</ul>
</div>
