<div id="right_layout" class="left">
  <h5>ติดต่อเรา</h5>
  <p class="products-link">
    สามารถสอบถาม เช็คราคา ตู้คอนเทนเนอร์ ราคา ตู้สำนักงาน และราคาตู้อื่น ๆ จากฝ่ายขายของเราได้ที่ 
	085-8687906 และ 082-0466611
  </p>
  <p class="products-link">
  	คอนแท็ค
	KK CONTAINER (ขอนแก่น คอนเทนเนอร์ )
	ตั้งอยู่ที่ 274 หมู่ 2 ถ.มะลิวัลย์ ต.บ้านทุ่ม อ.เมือง จ.ขอนแก่น 40000
	ติดต่อ 085-8687906 , 0820466611
  </p>
</div>
