<div id="right_layout" class="left">
  <h5>ติดต่อเรา</h5>
  <p class="products-link">
    สามารถสอบถาม เช็คราคา ตู้คอนเทนเนอร์ ราคา ตู้สำนักงาน และราคาตู้อื่น ๆ จากฝ่ายขายของเราได้ที่ 
	085-8687906 และ 082-0466611
  </p>
</div>
