<h5>ติดต่อเรา</h5>
<p>คุณสามารถติดต่อสอบถามข้อมูลและรายละเอียด ผ่านทางอีเมล์ <b class="text-color">kkcontainer@hotmail.com</b></p>
<p>หรือโทรศัพท์ได้ที่เบอร์ <b class="text-color">085-8687906, 094-4686890</b></p>
