<div class="main">
  <div class="google-map">
    <div id="googleMap" data-icon='<%= image_path("icon_location.png") %>' data-lat="16.450218" data-lon="102.738622"></div>
    <div class="noo-address-info-wrap">
      <div class="container">
        <div class="address-info">
          <h3>ข้อมูลติดต่อ</h3>
          <p>
            Maecenas tristique gravida, odio et sagi ttis justo. Suspendisse ultri cies nisi vel quam suscipit, et rutrum odio porttitor. Claritas etiam proce ssusa dynamicus, tudium lectorum.
          </p>
          <ul>
            <li>
              <%= link_to "https://www.google.co.th/maps/place/16%C2%B027'00.8%22N+102%C2%B044'17.9%22E/@16.4502411,102.7361263,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0?hl=th", target: "_blank" do %>
                <i class="fa fa-map-marker"></i>
              <% end %>
              <span>KK CONTAINER (เคเค คอนเทนเนอร์) ตั้งอยู่ที่ 274 หมู่ 2 ถ.มะลิวัลย์ ต.บ้านทุ่ม อ.เมือง จ.ขอนแก่น 40000</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span><a href="mailto:kkcontainer@hotmail.com">kkcontainer@hotmail.com</a></span>
            </li>
            <li>
              <i class="fa fa-phone"> </i>
              <span>085-8687906, 085-8687906</span></li>
            <li>
              <i class="fa fa-globe"> </i>
              <span>http://www.kk-container.com</a></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>