<% if @application_slider.present? %>
<div class="rev_slider_wrapper">
  <div id="rev_slider_2" class="rev_slider fullscreenbanner">
    <ul>  
      <% @application_slider.photos.each do |photo| %>
        <li data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">
          <%= image_tag photo.attached_file.url(@image_size), width: "1920", height: "960", "data-bgposition".to_sym => "center center", "data-bgfit".to_sym => "cover", "data-bgrepeat".to_sym => "no-repeat", class: "rev-slidebg" %>

          <div class="tp-caption tp-resizeme" 
             data-x="center" 
             data-hoffset="" 
             data-y="center" 
             data-voffset="-95" 
             data-width="['none','none','none','none']" 
             data-height="['none','none','none','none']" 
             data-transform_idle="o:1;" 
             data-transform_in="x:200px;z:0px;skX:-85px;s:1500;e:Power4.easeOut;" 
             data-transform_out="opacity:0;s:300;s:300;" 
             data-start="1400" 
             data-responsive_offset="on">
              <%= image_tag "banner/line.png", width: "911", height: "2" %>
          </div>

          <div class="tp-caption caption-6 tp-resizeme" 
             data-x="center" 
             data-hoffset="" 
             data-y="center" 
             data-voffset="-50" 
             data-width="['auto']" 
             data-height="['auto']" 
             data-transform_idle="o:1;" 
             data-transform_in="x:50px;opacity:0;s:2000;e:easeOutExpo;" 
             data-transform_out="opacity:0;s:300;s:300;" 
             data-start="2300" 
             data-splitin="chars" 
             data-splitout="none" 
             data-responsive_offset="on" 
             data-elementdelay="0.05">KK CONTAINER
          </div>

          <div class="tp-caption tp-resizeme" 
             data-x="center" 
             data-hoffset="" 
             data-y="center" 
             data-voffset="-5" 
             data-width="['none','none','none','none']" 
             data-height="['none','none','none','none']" 
             data-transform_idle="o:1;" 
             data-transform_in="x:-200px;skX:45px;s:2200;e:Power4.easeOut;" 
             data-transform_out="opacity:0;s:300;s:300;" 
             data-start="1400" 
             data-responsive_offset="on">
              <%= image_tag "banner/line.png", width: "911", height: "2" %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<% end %>