<div class="main">
  <div class="about-us-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row noo-our_story">
            <div class="col-md-6 col-sm-6">
              <h3 class='text-center'>เกี่ยวกับเรา</h3>
              <h3 class='text-center'>KK CONTAINER (เคเค คอนเทนเนอร์)</h3>
              <div class="our_story_content">
                <p>
                  บริการ ขายและเช่า คอนเทนเนอร์ สำนักงาน และเป็นศูนย์รวมตู้เอนกประสงค์ ผู้นำในการผลิต ดัดแปลงและจำหน่ายผลิตภัณฑ์ ตู้คอนเทนเนอร์  ในรูปแบบต่าง ๆ อาทิเช่น ตู้สำนักงาน  รีสอร์ท  ร้านค้า บ้าน ป้อมยาม สุขาเคลื่อนที่ ห้องโชว์ และอื่น ๆ อีกมากมาย ขอนแก่น คอนเทนเนอร์ เป็นศูนย์กลางให้ผู้ซื้อทุกท่านได้มีโอกาส เลือกซื้อ หรือต้องการออกแบบ ดัดแปลง ตู้คอนเทนเนอร์ ได้ด้วยตนเอง
                </p>
                <p>
                  บริการจัดส่งทั่วประเทศ โดยเฉพาะในเขต กาฬสินธุ์ ขอนแก่น ชัยภูมิ นครพนม นครราชสีมา บุรีรัมย์ มหาสารคาม มุกดาหาร ยโสธร ร้อยเอ็ด เลย ศรีสะเกษ สกลนคร สุรินทร์ หนองคาย หนองบัวลำภู อำนาจเจริญ อุดรธานี อุบลราชธานี บึงกาฬ และจังหวัดอื่นๆ
                </p>
                <p>
                  ตู้เอนกประสงค์ของเรามีสองแบบให้เลือก แบบแรกดัดแปลงจากตู้คอนเทนเนอร์และแบบที่สองโครงสร้างเหล็กเคลือบกันสนิมที่มีความแข็งแกร่งสูง พร้อมแผ่นผนังสำเร็จรูปประเภทอลูซิงค์จากต่างประเทศ ประกบกับแผ่นฉนวนกันความร้อน ทนความชื้น และไม่ติดไฟ (Polystyrene Foam)
                </p>
                <p>
                   เคเค คอนเทนเนอร์ ภายใต้กระบวนการผลิตที่มาตรฐานด้วยวัสดุทีทันสมัยซึ่งทนทานต่อการใช้งานในทุกสภาวะอากาศ ติดตั้งได้สะดวกรวดเร็ว ควบคุมโดยวิศวกร ผนวกกับการดีไซน์ที่ใส่ใจในทุกรายละเอียด ทำให้ผลิตภัณฑ์ของเรามีคุณภาพ ที่เหนือกว่าและสามารถตอบสนองทุกความต้องการของคุณและด้วยความพิถีพิถันในทุกรายละเอียดของเรา ผลิตภัณฑ์ของเราจึงได้รับความไว้วางใจจากลูกค้าทุกคนที่เลือกใช้สินค้าและบริการของเรามา โดยตลอดซึ่งเราจะยังคงมุ่งมั่นที่จะพัฒนาสินค้าและบริการของเราเพื่อ ให้ทุกผลิตภัณฑ์ของเราสามารถรองรับทุกความต้องการและ เพื่อสร้างความพึงพอใจสูงสุดให้คุณต่อไป
                </p>
                <p>
                  สามารถสอบถาม เช็คราคา ตู้คอนเทนเนอร์ ราคา ตู้สำนักงาน และราคาตู้อื่น ๆ จากฝ่ายขายของเราได้ที่ 085-8687906 และ 094-4686890
                </p>
              </div>
              <div class="text-center">
                <a href="">purchase theme</a>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <ul id="elasticstack" class="elasticstack">
                <li>
                  <div class="image-elastickstack bg-1"></div>
                </li>
                <li>
                  <div class="image-elastickstack bg-2"></div>
                </li>
                <li>
                  <div class="image-elastickstack bg-3"></div>
                </li>
                <li>
                  <div class="image-elastickstack bg-4"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!--  <div class="noo-footer-shop-now">
    <div class="container">
      <div class="col-md-7">
        <h4>- Every day fresh -</h4>
        <h3>organic food</h3>
      </div>
      <%= image_tag "organici-love-me.png", class: "noo-image-footer" %>
    </div>
  </div> -->
  <div class="newsletter">
    <div class="noo-sh-mailchimp">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <h3 class="noo-mail-title">Subscribe to us!</h3>
            <p class="noo-mail-desc">
              Enter Your email address for our mailing list to keep yourself update.
            </p>
          </div>
          <div class="col-md-7 col-xs-12">
            <form>
              <div class="newsletter-form-fields">
                <input type="email" name="EMAIL" placeholder="Email address" required />
                <input type="submit" value="submit"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>