<div class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 form-group">
      	<div class="noo-sh-title">
            <h2>สินค้าของเรา</h2>
         </div>
        <div class="noo-product-grid-wrap commerce product-style">

          <%= render partial: "shared/suggested_products", locals: { products: @random_products } %>

        </div>
      </div>
      <div class="col-sm-12 noo-our_story">
        <div class="text-center">
          <%= link_to "ดูสินค้าทั้งหมด", products_path, class: "view-more" %>
        </div>
      </div>
    </div>
  </div>
</div>