<h5>เกี่ยวกับเรา</h5>
<p>KK CONTAINER  ( เคเค คอนเทนเนอร์ ) </p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	ศูนย์รวมตู้เอนกประสงค์ ผู้นำในการผลิต ดัดแปลงและจำหน่ายผลิตภัณฑ์ ตู้คอนเทนเนอร์  ในรูปแบบต่าง ๆ อาทิเช่น ตู้สำนักงาน  รีสอร์ท  ร้านค้า บ้าน ป้อมยาม สุขาเคลื่อนที่ ห้องโชว์ และอื่น ๆ อีกมากมาย เคเค คอนเทนเนอร์ เป็นศูนย์กลางให้ผู้ซื้อทุกท่านได้มีโอกาส เลือกซื้อ หรือต้องการออกแบบ ดัดแปลง ตู้คอนเทนเนอร์ ได้ด้วยตนเอง
</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	ตู้เอนกประสงค์ของเรามีสองแบบให้เลือก แบบแรกดัดแปลงจากตู้คอนเทนเนอร์และแบบที่สองโครงสร้างเหล็กเคลือบกันสนิมที่มีความแข็งแกร่งสูง พร้อมแผ่นผนังสำเร็จรูปประเภทอลูซิงค์จากต่างประเทศ ประกบกับแผ่นฉนวนกันความร้อน ทนความชื้น และไม่ติดไฟ (Polystyrene Foam)
</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	เคเค คอนเทนเนอร์ ภายใต้กระบวนการผลิตที่มาตรฐานด้วยวัสดุทีทันสมัยซึ่งทนทานต่อการใช้งานในทุกสภาวะอากาศ ติดตั้งได้สะดวกรวดเร็ว ควบคุมโดยวิศวกร  ผนวกกับการดีไซน์ที่ใส่ใจในทุกรายละเอียด ทำให้ผลิตภัณฑ์ของเรามีคุณภาพ ที่เหนือกว่าและสามารถตอบสนองทุกความต้องการของคุณและด้วยความพิถีพิถันในทุกรายละเอียดของเรา ผลิตภัณฑ์ของเราจึงได้รับความไว้วางใจจากลูกค้าทุกคนที่เลือกใช้สินค้าและบริการของเรามา โดยตลอดซึ่งเราจะยังคงมุ่งมั่นที่จะพัฒนาสินค้าและบริการของเราเพื่อ ให้ทุกผลิตภัณฑ์ของเราสามารถรองรับทุกความต้องการและ เพื่อสร้างความพึงพอใจสูงสุดให้คุณต่อไป
</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	สามารถสอบถาม เช็คราคา ตู้คอนเทนเนอร์ ราคา ตู้สำนักงาน และราคาตู้อื่น ๆ จากฝ่ายขายของเราได้ที่ 
	085-8687906 และ 094-4686890 
</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<b>คอนแท็ค</b>
	KK CONTAINER (เคเค คอนเทนเนอร์ )
	ตั้งอยู่ที่ 274 หมู่ 2 ถ.มะลิวัลย์ ต.บ้านทุ่ม อ.เมือง จ.ขอนแก่น 40000
	ติดต่อ 085-8687906 , 094-4686890
</p>