$table_even_background_color: #DDD;
$table_odd_background_color: #FFF;
$table_background_color: #DDD;

$shadow_color: #ccc;

$body_color: #EEE;

$h5_color: #A73B23;

$gradient-top: #FFF;
$gradient-bottom: #DDD;
