//= require jquery-ui-1.8.24.custom
/*
*= require jquery.bxslider
*= require jquery.fancybox
*/

ul.bxslider{
	margin: 0 auto;
}

img.slider-img-size {
	height: 300px;
	width: 100%;
}

.fancybox-lock {
	overflow: auto;
}

@import "variables";
@import "zebra_tables";

body {
	min-height: 700px;
	width: 100%;
	background-color: $body_color !important;
}

#wrap {
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 0 60px;
	border: 1px solid #F6F4F0;
	padding: 0 2%;
}

footer {
	div#wrap-footer {
		background-color: #DDD;

		p#copy-right {
      background-color: #C56006;
			padding-left: 20px;
      line-height: 40px;
      vertical-align: text-middle;
      color: #FFF;
		}
	}

	width: 84%;
	margin-left: auto;
	margin-right: auto;
  clear: both;
  position: relative;
  z-index: 10;

  p {
  	margin: 0;
  }

  div.address {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
		p {
			margin: 0 14%;
		}
  }
}

a:hover {
	text-decoration: none !important;
	color: #000 !important;
}

.actions {
	width: 12%;
}

.false {
	text-decoration: line-through;
}

.pagination {
	margin: 0 !important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.error {
	color: red;
}

a {
    color: #000 !important;
}

.bold {
	font-weight: bold;
}

.center {
	margin-left: 0;
	margin-right: 0;
}

.notice {
	color: #FF8000;
}

.screen-only {
	padding: 10px 10px 10px 0;
}

h4 {
	padding: 10px 10px 10px 0;
}

.sign-in {
	#new_user_session {
		width: 300px;
		border: 1px solid #DDD;
		border-radius: 6px;
		margin: 0 auto;

		.in-login-form {
			margin: 16px;
		}
	}
}

#project-name {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
}

.inline {
	display: inline-block;
}

.brand {
	font-size: 14px;
  margin-left: -10px !important;
}

.brand.first {
  margin-left: -20px !important;
}

@mixin drop-shadow {
  -moz-box-shadow: 3px 3px 3px $shadow_color;
  -webkit-box-shadow: 3px 3px 3px $shadow_color;
  box-shadow: 3px 3px 3px $shadow_color;
}

.panel {
  @include drop-shadow;
}

#left_layout{
  border-right: 1px solid #ccc;
  padding-right: 2%;
	vertical-align: top;
	width: 24%;
	h5 {
		padding: 0;
	}

	p.products-link {
		margin: 0 0 6px;
		cursor: pointer;
	}

	p.products-link:hover {
		background-color: #DDD;
		/* background-image: linear-gradient(to bottom, #DDD, #DDD) !important; */
	}
}

#right_layout {
	width: 18.5%;
	p {
		font-size: 13px;
	}
}

.products-link {
	padding: 5px;
	background-color: #F5F5F5;
  	/* background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2) !important; */
  	border: 1px solid #ccc;
  	border: 1px solid rgba(0, 0, 0, 0.15);
  	-webkit-border-radius: 6px;
     	-moz-border-radius: 6px;
          	border-radius: 6px;
}

p.left-link-active {
	background-color: #CCC;
	/* background-image: linear-gradient(to bottom, #CCC, #CCC) !important; */
}

.photos-class {
	width: 100px;
	margin: 5px;
}

#middle_layout{
	vertical-align: top;
	padding: 0 1%;
}

#middle_layout {
	min-height: 400px;
	width: 69%;
	margin-left: 2%;

	h5 {
		padding-bottom: 0;
	}

	div.products{
    div {
      padding: 10px;
      margin: 10px;
      display: inline-block;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
	}
}

.spec_field {
  font-weight: bold;
  display: inline-block;
}

table {
	border: 1px solid #DDD;
	td {
		padding: 5px;
	}

	img {
		@include drop-shadow;
		margin: 5px;
	}
}

.blue {
	color: blue;
}

.right-site {
	float: right;
}

div.bx-wrapper {
	margin: 0 auto 40px;
}

div.navbar-inner {
	h3 {
		text-align: center;
	}
}

.bx-viewport {
	width: auto !important;
}

.map {
	width: 50%;
	border: 1px solid #ddd;
	margin: 20px 0;
	margin-left: 20px;
	display: inline-block;
}

h3#company-name {
}

h5 {
	color: $h5_color !important;
}

img#logo {
	width: 250px;
	z-index: 1;
	position: relative;
	margin-bottom: -20px;
	margin-left: -20px;
}

div#hmenu{
	.navbar-inner {
		z-index: 2;
		position: relative;
		background-image: linear-gradient(to bottom, #C56006, #C56006) !important;
		a {
			text-shadow: none;
			color: #FFF !important;
		}
	}
}
li.active {
	a.brand {
		background-image: linear-gradient(to bottom, #A73B23, #A73B23) !important;
		background-color: transparent;
	}
}

hr.brown {
  border: 0px;
  border-bottom: 1px solid #993721;
}

/*
body{
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #307CEF 100%);

	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #307CEF 100%);

	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #307CEF 100%);

	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #307CEF));

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #307CEF 100%);

	background-image: linear-gradient(to top, #FFFFFF 0%, #307CEF 100%);
}
*/
