//= require jquery-ui-1.8.24.custom
/*
*= require jquery.bxslider
*= require jquery.fancybox
*/

a.a-forget-password {
  color: blue !important;
}

ul.bxslider{
	margin: 0 auto;
}

img.slider-img-size {
	height: 300px;
	width: 100%;
}

.fancybox-lock {
	overflow: auto;
}

@import "variables";
@import "zebra_tables";

body {
	min-height: 700px;
	width: 100%;
	/* background-color: $body_color !important; */
}

#wrap {
	max-width: 1024px;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 0 60px;
}

div#footer {
	max-width: 1024px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	position: relative;
	z-index: 10;
	div#wrap-footer {
		background-color: #DDD;

		.map {
			width: 50%;
			border: 1px solid #ddd;
			margin: 20px 0;
			margin-left: 20px;
			display: inline-block;

			img.map-img {
				width: 100%;
			}
		}
		div.address {
			display: inline-block;
			vertical-align: middle;
			width: 40%;
			p {
				margin: 0 14%;
			}
	  	}
	}

	p#copy-right {
  		background-color: #C56006;
		padding-left: 20px;
  		line-height: 40px;
  		vertical-align: text-middle;
  		color: #FFF;
	}	

	p {
		margin: 0;
	}
}

a:hover {
	text-decoration: none !important;
}

.actions {
	width: 12%;
  text-align: center !important;
}

.false {
	text-decoration: line-through;
}

.pagination {
	margin: 0 !important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.error {
	color: red;
}

#hmenu {
  a {
      color: #000 !important;
  }
}

.bold {
	font-weight: bold;
}

.center {
	margin-left: 0;
	margin-right: 0;
}

.notice {
	color: #FF8000;
}

.screen-only {
	padding: 10px 10px 10px 0;
}

h4 {
	padding: 10px 10px 10px 0;
}

.sign-in {
	#new_user_session {
		width: 300px;
		border: 1px solid #DDD;
		border-radius: 6px;
		margin: 0 auto;

		.in-login-form {
			margin: 16px;
		}
	}
}

#project-name {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
}

.inline {
	display: inline-block;
}

.brand {
	font-size: 14px;
  margin-left: -10px !important;
}

.brand.first {
  margin-left: -20px !important;
}

@mixin drop-shadow {
  -moz-box-shadow: 3px 3px 3px $shadow_color;
  -webkit-box-shadow: 3px 3px 3px $shadow_color;
  box-shadow: 3px 3px 3px $shadow_color;
}

@mixin w-drop-shadow {
  -moz-box-shadow: 3px 3px 3px 3px $shadow_color;
  -webkit-box-shadow: 3px 3px 3px 3px $shadow_color;
  box-shadow: 3px 3px 3px 3px $shadow_color;
}

.wrap-drop-shadow {
	@include w-drop-shadow;
}

.panel {
  @include drop-shadow;
}

#left_layout{
  /* border-right: 1px solid #CCC; */
  padding-right: 3%;
	vertical-align: top;
	width: 250px;
	h5 {
		padding: 0;
	}

	p.products-link {
		margin: 0 0 6px;
		cursor: pointer;
	}

	p.products-link:hover {
		background-color: #DDD;
	}
}

#right_layout {
	width: 18.5%;
	p {
		font-size: 13px;
	}
}

.products-link {
	padding: 5px;
	background-color: #F5F5F5;
  	border: 1px solid #ccc;
  	border: 1px solid rgba(0, 0, 0, 0.15);
  	-webkit-border-radius: 6px;
     	-moz-border-radius: 6px;
          	border-radius: 6px;
}

p.left-link-active {
	a {
		color: #FFAA00;
	}
}

.photos-class {
	width: 200px;
	margin: 5px;
}

#middle_layout{
	vertical-align: top;
	padding: 0%;
}

#middle_layout {
	min-height: 400px;
	width: 100%;
	max-width: 72%;

	h5 {
		padding: 10px 0 0 0;
	}

	div.products{
    div {
      padding: 5px;
      margin: 10px;
      display: inline-block;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
	}
}

.spec_field {
  font-weight: bold;
  display: inline-block;
}

table {
	border: 1px solid #DDD;
	td {
		padding: 5px;
	}

	img {
		@include drop-shadow;
		margin: 5px;
	}
}

.blue {
	color: blue;
}

.right-site {
	float: right;
}

div.bx-wrapper {
	margin: 0 auto 40px;
}

div.navbar-inner {
	h3 {
		text-align: center;
	}
}

.bx-viewport {
	width: auto !important;
}



h3#company-name {
}

h5 {
	color: $h5_color !important;
}

img#logo {
	width: 300px;
	z-index: 1;
	position: relative;
	margin-bottom: -20px;
	margin-left: -20px;
}

div#hmenu{
	.navbar_inner {
		z-index: 2;
		position: relative;
		background-color: #C56006 !important;
		background-image: none !important;
		a {
			text-shadow: none;
			color: #FFF !important;
		}
		.nav {
			background-color: #C56006 !important;
			background-image: none !important;
		}

	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background-repeat: repeat-x;
	/* border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px; */
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#C56006', endColorstr='#C56006'GradientType=0);
	*zoom: 1;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	}
}
li.active {
	a.brand {
		background-color: #A73B23 !important;
		background-color: transparent;
	}
}

hr.brown {
  border: 0px;
  border-bottom: 1px solid #993721;
}

.text-color {
  color: #C56006;
}

h5.h5-color {
	background-color: #C56006;
	padding: 10px !important;
	color: #FFFFFF !important;
}

hr.hr-center {
	border: 1px solid #C56006;
	margin-bottom: 0;
}


h3#company-name {
	margin: 5px 0 !important;
	color: #A73B23 !important;
}

/* div#comp-name {
	.navbar {
		margin-bottom: 0 !important;
	}
	.navbar-inner {
		border: 1px solid #FFF;
		background-color: #C58806;
		background-image: none;
	}
}*/

textarea {
	height: 100px !important;
}

table {
	th#question {
		width: 20%;
	}
	th#answer {
		width: 30%;
	}
	white-space: normal !important;
}

.pagination {
	float: right;
}

h4.advertise {
	float: right;
	margin: 42px 0 0 0;
	color: #666;
	font-style: italic;
}

.left-products-link {
	color: #A73B23;
	a {
		color: #ED3504;
	}

	a:hover {
		color: #FFAA00;
	}
}

#left-menu {
	border: 1px solid #DDDDDD; 
	background-color: #E1E2E6;
}
