
#products-categories{
	width: 15%;
	h5 {
		padding: 0;
	}
}

.products-link {
	border-radius: 3px;
	border: 1px solid #DDD;
	padding: 5px 5px 5px 5px;
}

.photos-class {
	width: 100px;
	margin: 5px;
}

#middle-description{
	vertical-align: text-top;
	padding-left: 16px;
	padding-right: 16px;
}

#middle-description {
	width: 58%;
	margin: 0 1%;

	h5 {
		padding-bottom: 0;
	}

	p.details{

	}
}

.inline-3 {
	div	{
		float: left;
		width: 20%;
	}
}