
#products-categories{
	width: 15%;
	h5 {
		padding: 0;
	}
}

.products-link {
	padding: 5px 5px 5px 5px;
  	background-color: #f5f5f5;
  	border: 1px solid #ccc;
  	border: 1px solid rgba(0, 0, 0, 0.15);
  	-webkit-border-radius: 4px;
     	-moz-border-radius: 4px;
          	border-radius: 4px;
}

.photos-class {
	width: 100px;
	margin: 5px;
}

#middle-description{
	vertical-align: text-top;
	padding: 0 1%;
}

#middle-description {
	min-height: 400px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 58%;
	margin: 0 1%;

	h5 {
		padding-bottom: 0;
	}

	p.details{

	}
}

.inline-3 {
	div	{
		float: left;
		width: 20%;
	}
}