td.field {
	width: 30%;
  	vertical-align: top; 
  	padding-top: 10px;
  	padding-left: 10px;
}

input.field {
	margin: 4px;
}

input.submit {
	margin: 20px 0;
}

#add_new_row{
	margin-left: 5px;
	button.add_new_row {
		margin: 5px;
	}
}

