<div class="pt-15 pb-11">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="noo-product-grid-wrap commerce product-style">
          <div class="noo-sh-title">
            <h2>Our products</h2>
            <p>Maecenas tristique gravida odio, et sagi ttis justo interdum porta. Duis et lacus mattis, tincidunt eronec dictum non nulla.</p>
          </div>
          <div class="noo-product-filter masonry-filters">
            <ul class="noo-header-filter" data-option-key="filter">
              <li>
                <a data-option-value="*" href="#all" class="selected">
                  <img width="30" height="26" src="images/filter/filter_30x30.jpg" alt="" />
                  <span>สินค้าทั้งหมด</span>
                </a>
              </li>
              <% @categories.each do |c| %>
              <li>
                <a data-option-value=".organic-fruits" href="#organic-fruits">
                  <img width="30" height="26" src="images/filter/filter_30x30.jpg" alt=""/> 
                  <span><%= c.name.titleize %></span>
                </a>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="noo-product-grid products row product-grid noo-grid-4">
            <%= render partial: "shared/product", collection: @products, as: "product" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
