<h5 class="inline" category-id='<%= "#{@product.category.id}"%>'>หมวดสินค้า: </h5>
<h5 class="inline"><%= link_to(@product.category.name, show_porducts_product_path(@product.category)) %></h5>
<div class="products">
	<% @product.photos.each do |photo| %>
	<div class="inline panel">
		<%= link_to image_tag(photo.attached_file.url(:thumb), class: "photos-class" ), product_path(@product) %>
	</div>
	<% end %>
</div>

<%= render template: "manage_products/show" %>
