<div class="pt-5 pb-11">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="noo-product-grid-wrap commerce product-style">
          <div class="noo-sh-title">
            <h2>จัดการถามตอบ</h2>
          </div>
          <div class='text-right form-group'>
            <%= link_to("เพิ่มคำถามคำตอบ", new_manage_faq_path, class: "btn btn-default") %>
          </div>
          <table class="table">
            <thead>
              <th id="question">คำถาม</th>
              <th id="answer">คำตอบ</th>
              <th colspan="2" class="actions text-center">Actions</th>
            </thead>
            <tbody>
              <%= render partial: "faq_list", collection: @faqs, as: "faq" %>
            </tbody>
          </table>
          <div class="digg_pagination">
            <%= will_paginate @faqs, :container => false %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
