<div class="pt-5 pb-11">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="noo-product-grid-wrap commerce product-style">
          <div class="noo-sh-title">
            <h2>เพิ่มคำถาม คำตอบ</h2>
          </div>
          <%= form_for @faq, url: manage_faqs_path, method: 'post' do |f| %>
            <div class='row form-group'>
              <div class='col-sm-6 col-sm-offset-3'>คำถาม</div>
              <div class='col-sm-6 col-sm-offset-3'>
                <%= f.text_area "question", required: true, rows: 4, class: "form-control" %>
              </div>
            </div>
            <div class='row form-group'>
              <div class='col-sm-6 col-sm-offset-3'>คำตอบ</div>
              <div class='col-sm-6 col-sm-offset-3'>
                <%= f.text_area "answer", required: true, rows: 4, class: "form-control" %>
              </div>
            </div>
            <div class='row form-group'>
              <div class='col-sm-6 col-sm-offset-3'></div>
              <div class='col-sm-6 col-sm-offset-3'>
                <%= f.submit "บันทึก", class: "btn btn-default" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
